body {
        background-image: url("https://github.com/hannahshidehout/hannahshideout/raw/8c1c63666b0a3ea36ef662a22b1a1751654c3f18/scratch.jpg");
        background-size: cover; 
        background-repeat: no-repeat;
        background-position: center;
        margin: 0; 
        padding: 0;
    }
