html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
/* Background image settings */
body {
        background-image: url("https://github.com/hannahshidehout/hannahshideout/raw/8c1c63666b0a3ea36ef662a22b1a1751654c3f18/scratch.jpg");
        background-size: cover; 
        background-repeat: no-repeat;
        background-position: center;
        display: flex;          
        flex-direction: column;   
       align-items: center;     
       padding-top: 20px;         

    }
/* Heading styling */
h1 {
    font-family: 'Atma', sans-serif;
    font-weight: 700; /* Bold */
    background-color: white;         
    color: black;                   
    display: inline-block;          
    padding: 15px 30px;             
    margin-top: 20px;         
    text-align: center;
    font-size: 3em;
    border-radius: 10px;            
    box-shadow: 0 4px 10px rgba(0,0,0,0.3); 
}
/* Paragraph styling */
p {
    color: black;
    text-align: center;
    font-size: 2em;
    font-weight: 700; /* Bold */
    margin-top: 15px; /* space below heading */
}
